dl {
  background: none repeat scroll 0 0 #FAFAFA;
  margin: 8px 0;
  padding: 0;
}

dt {
  display: inline-block;
  width: 170px;
}

dd {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
}

tr[data-mealExceed="false"] {
  color: green;
}

tr[data-mealExceed="true"] {
  color: red;
}